// main
 html {
        font-size: 62.5%;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

    .wrapper {
        max-width: 1280px;
    }

     .intro,
    .response {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        margin: 0 auto;
        margin-top: 5%;
        padding: 2%;
    }

    label {
        font-size: 5rem;
    }

    

    .btn {
        padding: 5%;
        background-color: #FFC540;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 3rem;
        border-radius: 5%;
    }

    .btn:hover,
    .btn:focus {
        background-color:#FF0019;
        border: 2px solid #000;
    }


    .quiz {
        background-color: #FFC540;
        margin: 5% 20%;
        padding: 2% 5%;
        border-radius: 5%;
        text-align: center;
        position: relative;
    }

   


    .hide {
        width: 60%;
        height: 15%;
        background-color: #FF0019;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 31%;
        left: 20%;
    }



    .response label {
        font-size: 3rem;
    }

    .playerValue {
        font-size: 5rem;
    }

    .letsAnswer {
        margin-top: 5%;
        margin-left: 42%;
        margin-bottom: 10%;
    }


    .userResponse {
        background-color: #FF0019;
        margin: 5% auto;
        padding: 5%;
        border-radius: 30px;
        text-align: center;
        width: 100%;
    }

    .confirmResponse {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
        padding: 2%;
    }

    .result {
        width: 30%;
        margin: 5% auto;
        padding: 5%;
        border: 2px solid #FF0019;
        border-radius: 5%;
        text-align: center;
    }


    //Media Query

    @include desktopOne {
        .hide {
            top: 33%;
        }

        .result {
            width: 45%;
        }
    }

    @include desktopTwo {
        .hide {
            top: 38%;
        }
    }

    @include desktopThree {
        label {
            font-size: 3rem;
        }
    }