// Fonts

body {
     font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }
.name,
    .playerGuess {
        font-size: 5rem;
        padding: 2%;
        text-align: center;
    }

    p,
    h2 {
        font-size: 5rem;
    }

    .quiz p {
    padding-bottom: 10%;
    }

 .hide p {
        color: #fff;
        padding: 2%;
    }

#wordToGuess {
    color: #fff;
    font-size: 8rem;
    margin-bottom: 20%;
}


//Media Queries

@include desktopOne {
    .name,
    .playerGuess  {
        font-size: 3rem;
    }
}

@include desktopFour {
   p {
       font-size: 3rem;
   }
}

@include desktopSix {
    .name,
    .playerGuess  {
        font-size: 2.5rem;
    }
}